[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snowflake-snowpark-python = "<2.0.0,>=1.5.0"
snowflake-core = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
